<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename = 'css/style.css') }}"
    />
    <title>About Us</title>
  </head>
  <body>
    <ul class="nav-container">
      <li><a href="{{ url_for('home') }}">Home</a></li>
      <li><a href="{{ url_for('convert') }}">Translate</a></li>
      <li><a href="{{ url_for('about') }}">About Us</a></li>
    </ul>
    <h1 class="title">About Us</h1>
    <div class="container">
      <div class="text-container">
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odio
          deleniti tempora porro voluptatibus dolore culpa illum sint, officiis
          ea quibusdam atque nemo a quos molestiae beatae amet fuga quis
          adipisci saepe ullam eligendi dolorem deserunt! Aspernatur numquam at
          harum, delectus ad, quia, fuga praesentium sunt vel culpa iure? Quidem
          ab asperiores inventore dicta architecto mollitia? Corporis cum eos
          quam ullam nemo voluptatibus nisi illo a assumenda nostrum accusamus
          commodi non, quisquam officia itaque! Libero soluta dignissimos
          placeat assumenda consectetur officiis dolores suscipit ducimus et ex
          quos magni dolor nam id repellat nesciunt, necessitatibus minus,
          sapiente perferendis officia odio vel? Nisi?
        </p>
      </div>
    </div>
  </body>
</html>
