<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Home</title>
  </head>
  <body>
    <ul class="nav-container">
        <!-- <div class="logo">ITI</div> -->
      <li><a href="index.html">Home</a></li>
      <li><a href="convert.html">Translate</a></li>
      <li><a href="about.html">About Us</a></li>
    </ul>
    <div class="container">
      <div class="text-container">
        <h2>IMAGE TO IMAGE</h2>
        <h1>TRANSLATOR</h1>
        <a href="convert.html" id="btn">Translate</a>
      </div>
      <div class="img-container">
          <img src="img1.svg" alt="image" class="img-container">
      </div>
    </div>
  </body>
</html>
